/* responsive.css */
/* 调整响应式样式 */

/* 小屏幕下的样式 */
@media screen and (max-width: 768px) {

  .payload-elements.block.grid-block > .grid{
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);
  }
  .payload-elements.block{
    height:100vw; /* 高度改为90vw */
  }

}

/* 超小屏幕下的样式 */
@media screen and (max-width: 480px) {
 
}

/* 暗黑模式下的样式 */
@media (prefers-color-scheme: dark) {

}